[user]
	email = djlialios@usdi.com
	name = Dimitri Lialios
[core]
	editor = nvim
	autocrlf = input
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[diff]
	tool = kdiff3
[difftool]
	prompt = false
	keepBackup = false
	trustExitCode = false
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/bin/kdiff3.exe
[merge]
	tool = kdiff3
[mergetool]
	prompt = false
	keepBackup = false
	keepTemporaries = false
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/bin/kdiff3.exe
