[user]
	email = djlialios@usdi.com
	name = Dimitri Lialios
[core]
	editor = nvim
	autocrlf = input
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[svn]
	rmdir = true
[alias]
	s = status
	g = log --graph --oneline --all
	d = difftool --tool=nvimdiff
	m = mergetool --tool=nvimdiff
