[user]
    name   = Dimitri
    email  = lialios.dimitri@gmail.com
[core]
    editor = nvim
[pager]
    log    = perl /usr/share/git/diff-highlight/diff-highlight | less
    show   = perl /usr/share/git/diff-highlight/diff-highlight | less
    diff   = perl /usr/share/git/diff-highlight/diff-highlight | less
