[user]
	email = lialios.dimitri@gmail.com
	name = Dimitri Lialios
[core]
	editor = nvim
[svn]
	rmdir = true
[alias]
	s = status
	g = log --graph --oneline --all
	d = difftool --tool=nvimdiff
	m = mergetool --tool=nvimdiff
